.app-bar {
  background-color: #5e503f !important;
  box-shadow: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Typography {
  color: #333;
}

.nav-button {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  color: rgba(255, 255, 255, 0.55) !important;
  display: 'block' !important;
  text-decoration: none !important;
}

.nav-button:hover {
  color: rgba(255, 255, 255, 0.85) !important;
}

.nav-button-collapsed {
  margin: 0.5rem 0 !important;
  color: #333 !important;
  display: 'block' !important;
  text-decoration: none !important;
}

.nav-button-collapsed-dark {
  margin: 0.5rem 0 !important;
  color: rgba(255, 255, 255, 0.55) !important;
  display: 'block' !important;
  text-decoration: none !important;
}
